body{
	margin: 0;
    background: linear-gradient(0deg, white 65%, #00FFFF 35%);
	background-attachment: fixed;
}

.wrapper-outer{
	padding: 150px;
}

.wrapper-inner{
	margin: auto;
	width: 420px;
	height: 500px;
}

.circle{
	margin: auto;
	width: 400px;
	height: 400px;
	background: white;
	border: 10px solid #b3b3b3;
	border-radius: 50%;
}

.circle-pic{
	position: relative;
	margin: auto;
	top: 10px;
	left: 10px;
	width: 380px;
	height: 380px;
	border-radius: 50%;
}

.box{
	position: relative;
	background: white;
	margin: auto;
	top: -200px;
	width: 270px; 
	height: 300px;
	position: relative;
	border: 10px solid #b3b3b3;
	border-radius: 20%;
	/*display: none;*/
	z-index: -1;
	text-align: center;
}

.btn{
	background: orange;
	position: relative;
	display: inline-block;
	top: 215px;
	height: 50px;
	width: 50px;
	
	margin-left: 5px;
	margin-right: 5px;
	
	border: 3px solid #b3b3b3;
	border-radius: 40%;
	
}

.btn:hover{
	background: blue !important;
}


