html{
	background: linear-gradient(0deg, white 55%, #33ccff);
	background-attachment: fixed;
}

body{
	margin: 0;
}

.wrapper-outer{
	padding: 150px;
}

.wrapper-inner{
	margin: auto;
	width: 420px;
	height: 540px;
	opacity: .99;
}

.circle{
	cursor: pointer;
	margin: auto;
	width: 400px;
	height: 400px;
	background: white;
	border: 10px solid #cccccc;
	border-radius: 50%;
}

.circle-pic{
	position: relative;
	margin: auto;
	top: 10px;
	left: 10px;
	width: 380px;
	height: 380px;
}

.profile-tray{
	position: relative;
	background: white;
	margin: auto;
	top: -200px;
	width: 270px; 
	height: 360px;
	border: 10px solid #cccccc;
	border-radius: 20%;
	display: none;
	z-index: -1;
	text-align: center;
}

.social-button{
	top: 200px;
	position: relative;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	margin: 5px;
	border: 5px solid #cccccc;
}

.social-button i {
	width: 50px;
	line-height: 50px;
	color: black;
	font-size: 35px;
	display: block;
	position: absolute;
	margin: auto;
	z-index: 10;
}

#CV {
	width: 50px;
	line-height: 50px;
	color: black;
	font-size: 28px;
	font-faliy: "arail";
	display: block;
	position: absolute;
	margin: auto;
	z-index: 10;
}

.social-button span {
	background-color: #33ccff;
	border-radius: 0;
	display: block;
	height: 0;
	margin: 0;
	position: absolute;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
	left: 50%;
	top: 50%;
}

.social-button:hover span {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin: -25px; 
}